@import url('https://fonts.googleapis.com/css2?family=Oregano:wght@400;700&display=swap');
body{
  background-color: #424A65;
}

/* Début body reste*/

.body {
  font-family: Oregano;
  color: #BCBCBC;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10%;
}

.body #logo {
  width: 110px;
  height: 80px;
}

.body #imageProfile {
  width: 90px;
  height: 70px;
}

.body #titre {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #919191;
}

/* Fin body reste */
/* Début style partie une */

.body #partie-One {
  display: inline-grid;
  margin-top: 1%;
}

.body #partie-One-One {
  margin-top: 2%;
  display: flex;
  background-color: #646499;
  padding-left: 2%;
}

.body #partie-One-Two {
  background-color: #454265;  
  display: flex;
  flex-direction: column;
  /*flex-direction: row;*/ 
}

.body #partie-One-Two #rebrique {
  margin-left: 1%;
  width: 250px;

}

.body #partie-One-Two-One {
  margin-left: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 80px
}

.body #partie-One-Two-Two { 
  margin-left: 77%;
  display: flex;
  /*flex-direction: row;*/ 
  justify-content: center;
  position: relative;
  bottom: 150px
}

.body #partie-One-Two-Two-One {
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  position: relative;
  bottom: 35px
}

/* Fin style partie une */
/* Début style partie deux */

.body #partie-Two {
  margin-top: 2%;
  display: inline-grid;
}

.body #partie-Two-One {
  background-color: #646499;
  padding-left: 2%;
}

.body #partie-Two-Two {
  background-color: #454265;  
  display: flex;
  flex-direction: row; 
}

/* Fin style partie deux */
/* Début style partie trois */

.body #partie-Three {
  margin-top: 2%;
  display: inline-grid;
}

.body #partie-Three-One {
  background-color: #646499;
  padding-left: 2%;
}

.body #partie-Three-Two {
  background-color: #454265;  
  display: flex;
  flex-direction: row; 
}

.body #description {
  display: flex;
  width: 200%;
}

.body #sousTitre {
  display: flex;
  width: 200%;
}
/* Fin style partie trois */



.body .test {
  background-color: #646499;;
  width: 100%;
  height: 15px;
}


.avatar
{

  background-color: black;
  color: white;
  width: 10px;
  height: 60px;
  font-size: 300%;
  margin-top: 1%;
  text-align: center;
}

textarea {
  background-color: #647899;
  margin-top: 3%;
  margin-left: 2%;
}

textarea::placeholder {
  color: #BCBCBC;
}

.reponse {
  padding-top: 5%;
  padding-bottom: 10%;
}

#formPass {
  margin: 3%;
  width:300px;
  height:30px;
  border-radius: 12px;
  border: green;
  background-color: #646499;
}